body{
    background-image: url('/img/Steam\ Community\ __\ VA-11\ Hall-A_\ Cyberpunk\ Bartender\ Action.gif');
    background-size: 1000px;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right:0%;
  }
  .banner{
    text-align: center;
    background-color: pink;
    border-radius: 25px;
    position: relative;
    border: 4px solid black;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 250px;
    margin-bottom: 250px;
    height: 230px;
  }
  .modal-btn{
    position: relative;
    border-radius: 25px;
    background-color: #545454;
    color: white;
    height: 50px;
    width: 100px;
  }
  .close-btn{
    position: relative;
    /* top: 50%; */
    border-radius: 25px;
    background-color: #545454;
    color: white;
    height: 50px;
    width: 100px;
  }
.modal-btn:hover{
    background: transparent;
    color: var(--clr-primary-5);
}
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
}
.open-modal{
    visibility: visible;
    z-index: 10;
}
.modal-container{
    background: var(--clr-white);
    background-color: skyblue;
    margin-right: 300px;
    margin-left: 350px;
    margin-top: 350px;
    margin-bottom: 350px;
    width: 400px;
    height: 300px;
    

}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454;
   
}
h3{
  color: #545454;
  font-style: italic;
  
}
h6{
    color: #545454;
    font-style: italic;
}